Repository kulak91/dataharbor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:js -w frontend

dat-1: * hide cors from prod env
  backend/src/libs/packages/server-application/server-app.ts
Due: prettier --write, npm run lint:js -w backend

dat-1: - remove package author
  frontend/package.json
  package-lock.json
  package.json
Due: prettier --write

dat-22: * update eslint plugins
  package-lock.json
  package.json
Due: prettier --write

dat-22: * replace console logs with logger
  backend/src/libs/packages/config/config.package.ts
  backend/src/libs/packages/config/config.ts
Due: prettier --write, npm run lint:js -w backend

dat-22: * replace colors hardcode with vars
  frontend/src/assets/css/styles.scss
  frontend/src/assets/css/variables.scss
Due: prettier --write

dat-21: + add migration feature
  backend/migrate.ts
  backend/package.json
  backend/src/libs/packages/config/config.package.ts
  backend/src/libs/packages/config/config.ts
  backend/src/libs/packages/database/database.package.ts
  backend/src/libs/packages/database/database.ts
  backend/src/libs/packages/database/libs/templates/migration.template.ts
  backend/src/libs/packages/database/migrator.ts
  backend/tsconfig.json
  package-lock.json
Due: prettier --write, npm run lint:js -w backend

dat-21: + add seeding
  backend/.eslintrc.yml
  backend/package.json
  backend/src/db/migrate.ts
  backend/src/db/migrations/2023.11.25T13.07.46.add-users-table.ts
  backend/src/db/seed.ts
  backend/src/db/seeds/2023.11.25T19.22.56.add-users.ts
  backend/src/libs/packages/database/base.model.ts
  backend/src/libs/packages/database/database-utility-base.ts
  backend/src/libs/packages/database/database-utility-factory.ts
  backend/src/libs/packages/database/database.package.ts
  backend/src/libs/packages/database/database.ts
  backend/src/libs/packages/database/libs/enums/database-table-name.enum.ts
  backend/src/libs/packages/database/libs/enums/enums.ts
  backend/src/libs/packages/database/libs/interfaces/interfaces.ts
  backend/src/libs/packages/database/libs/templates/seeding.template.ts
  backend/src/packages/users/libs/enums/enums.ts
  backend/src/packages/users/libs/enums/user-column-name.ts
  backend/src/packages/users/user.model.ts
  backend/src/packages/users/users.ts
  backend/tsconfig.json
Due: prettier --write, npm run lint:js -w backend

dat-21: * reorder npm scripts
  backend/package.json
Due: prettier --write

dat-21: - remove i from interfaces
  backend/src/libs/packages/config/config.package.ts
  backend/src/libs/packages/config/config.ts
  backend/src/libs/packages/config/libs/interfaces/config.interface.ts
  backend/src/libs/packages/config/libs/interfaces/interfaces.ts
  backend/src/libs/packages/controller/controller.package.ts
  backend/src/libs/packages/database/database-utility-base.ts
  backend/src/libs/packages/database/database-utility-factory.ts
  backend/src/libs/packages/database/database.package.ts
  backend/src/libs/packages/database/database.ts
  backend/src/libs/packages/database/libs/interfaces/interfaces.ts
  backend/src/libs/packages/logger/libs/interfaces/interfaces.ts
  backend/src/libs/packages/logger/libs/interfaces/logger.interface.ts
  backend/src/libs/packages/logger/logger.package.ts
  backend/src/libs/packages/logger/logger.ts
  backend/src/libs/packages/server-application/libs/interfaces/interfaces.ts
  backend/src/libs/packages/server-application/libs/interfaces/server-app-api.interface.ts
  backend/src/libs/packages/server-application/libs/interfaces/server-app.interface.ts
  backend/src/libs/packages/server-application/server-app-api.ts
  backend/src/libs/packages/server-application/server-app.ts
  backend/src/packages/auth/auth.controller.ts
  frontend/src/libs/packages/config/libs/types/config.type.ts
  shared/src/index.ts
  shared/src/libs/packages/config/config.ts
  shared/src/libs/packages/config/libs/interfaces/config.interface.ts
  shared/src/libs/packages/config/libs/interfaces/interfaces.ts
Due: prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:js -w frontend

dat-21: + init user model
  backend/package.json
  backend/src/db/migrations/2023.11.25T13.07.46.add-users-table.ts
  backend/src/libs/packages/database/base.model.ts
  backend/src/libs/packages/database/database-utility-base.ts
  backend/src/libs/packages/database/database-utility-factory.ts
  backend/src/libs/packages/database/database.package.ts
  backend/src/libs/packages/database/database.ts
  backend/src/libs/packages/database/libs/interfaces/interfaces.ts
  backend/src/libs/packages/database/libs/templates/migration.template.ts
  backend/src/libs/packages/database/libs/templates/seeding.template.ts
  backend/src/libs/packages/database/migrator.ts
  backend/src/libs/packages/server-application/server-app.ts
  backend/src/libs/packages/server-application/server-application.ts
  backend/src/packages/users/user.controller.ts
  backend/src/packages/users/user.model.ts
  backend/src/packages/users/users.ts
  frontend/src/pages/settings/settings.tsx
  package-lock.json
Due: prettier --write, npm run lint:js -w backend, npm run lint:js -w frontend

dat-21: * update env example
  backend/.env.example
Due: none

dat-21: + implement user auth services
  backend/package.json
  backend/src/libs/interfaces/entity.interface.ts
  backend/src/libs/interfaces/interfaces.ts
  backend/src/libs/packages/controller/controller.package.ts
  backend/src/libs/packages/database/libs/interfaces/interfaces.ts
  backend/src/libs/packages/encrypt/encrypt.package.ts
  backend/src/libs/packages/encrypt/encrypt.ts
  backend/src/libs/packages/encrypt/libs/interfaces/interfaces.ts
  backend/src/libs/packages/http/http.ts
  backend/src/libs/packages/http/libs/exceptions/exceptions.ts
  backend/src/libs/packages/jwt/jwt.package.ts
  backend/src/libs/packages/server-application/libs/middlewares/error-handler.middleware.ts
  backend/src/libs/packages/server-application/server-app.ts
  backend/src/packages/auth/auth.controller.ts
  backend/src/packages/auth/auth.service.ts
  backend/src/packages/auth/auth.ts
  backend/src/packages/users/user-details.model.ts
  backend/src/packages/users/user.entity.ts
  backend/src/packages/users/user.model.ts
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/user.service.ts
  backend/src/packages/users/users.ts
  frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  package-lock.json
  shared/src/libs/packages/http/libs/enums/http-code.enum.ts
  shared/src/packages/users/libs/types/user-sign-up-request-dto.type.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Due: prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:js -w frontend

dat-21: * user controller
  backend/src/packages/users/user.controller.ts
Due: prettier --write, npm run lint:js -w backend

dat-21: + add jwt error logger
  backend/src/libs/packages/jwt/jwt.package.ts
Due: prettier --write, npm run lint:js -w backend

dat-21: + add notification
  .eslintrc.yml
  backend/src/packages/users/user.model.ts
  frontend/package.json
  frontend/src/index.tsx
  frontend/src/libs/enums/enums.ts
  frontend/src/libs/packages/notification/libs/interfaces/interfaces.ts
  frontend/src/libs/packages/notification/notification.package.ts
  frontend/src/libs/packages/notification/notification.ts
  frontend/src/libs/packages/store/middlewares/handle-error/handle-error.middleware.ts
  frontend/src/libs/packages/store/store.package.ts
  package-lock.json
  shared/src/libs/enums/exception-message.enum.ts
Due: prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:js -w frontend

dat-21: * prepare for refresh token
  backend/src/libs/packages/server-application/libs/middlewares/auth.middleware.ts
  frontend/src/slices/auth/actions.ts
  shared/src/libs/enums/exception-message.enum.ts
Due: prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:js -w frontend

dat-21: + add refresh token
  backend/package.json
  backend/src/db/migrations/2024.01.16T16.05.29.add-session-table.ts
  backend/src/libs/packages/controller/controller.package.ts
  backend/src/libs/packages/controller/controller.ts
  backend/src/libs/packages/controller/libs/types/api-handler-options.type.ts
  backend/src/libs/packages/controller/libs/types/api-handler-response.type.ts
  backend/src/libs/packages/database/libs/enums/database-table-name.enum.ts
  backend/src/libs/packages/jwt/jwt.package.ts
  backend/src/libs/packages/jwt/libs/interfaces/interfaces.ts
  backend/src/libs/packages/server-application/libs/constants/white-routes.constants.ts
  backend/src/libs/packages/server-application/libs/middlewares/error-handler.middleware.ts
  backend/src/libs/packages/server-application/server-app.ts
  backend/src/libs/packages/server-application/server-application.ts
  backend/src/packages/auth/auth.controller.ts
  backend/src/packages/auth/auth.service.ts
  backend/src/packages/auth/auth.ts
  backend/src/packages/auth/libs/helpers/generate-cookie-value.helper.ts
  backend/src/packages/auth/libs/helpers/get-cookie-value.helper.ts
  backend/src/packages/auth/libs/helpers/helpers.ts
  backend/src/packages/session/session.entity.ts
  backend/src/packages/session/session.model.ts
  backend/src/packages/session/session.repository.ts
  backend/src/packages/session/session.service.ts
  backend/src/packages/session/session.ts
  backend/src/packages/session/types/session-create-request-dto.type.ts
  backend/src/packages/session/types/session-create-response-dto.type.ts
  backend/src/packages/session/types/types.ts
  backend/src/packages/users/user.model.ts
  frontend/src/libs/packages/store/middlewares/handle-error/handle-error.middleware.ts
  frontend/src/packages/auth/auth-api.ts
  frontend/src/slices/auth/actions.ts
  frontend/src/slices/auth/auth.slice.ts
  frontend/src/slices/auth/auth.ts
  package-lock.json
  shared/src/packages/auth/libs/enums/auth-api-path.enum.ts
Due: prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:js -w frontend

dat-21: - remove dev button
  frontend/src/pages/settings/settings.tsx
Due: prettier --write, npm run lint:js -w frontend

dat-31: * update readme
  readme.md
Due: prettier --write

dat-21: * update readme
  readme.md
Due: prettier --write

dat-21: + add exp token config
  backend/src/libs/packages/config/config.package.ts
  backend/src/libs/packages/config/libs/interfaces/config.interface.ts
  backend/src/libs/packages/config/libs/types/auth-config.type.ts
  backend/src/libs/packages/config/libs/types/types.ts
  backend/src/libs/packages/jwt/jwt.package.ts
  backend/src/packages/auth/auth.service.ts
  backend/src/packages/auth/auth.ts
  frontend/package.json
  package-lock.json
Due: prettier --write, npm run lint:js -w backend

Path conditions:
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
